#!/bin/bash

if [ "$#" -ne 1 ]
then
  echo "Error: No domain name argument provided"
  echo "Usage: Provide a domain name as an argument"
  exit 1
fi

DOMAIN=$1

# Create root CA & Private key

openssl req -x509 \
            -sha256 -days 356 \
            -nodes \
            -newkey rsa:2048 \
            -subj "/CN={{ domainName }}/C={{ country }}/L={{ locality }}" \
            -keyout rootCA.key -out rootCA.crt 

# Generate Private key 

openssl genrsa -out {{ domainName }}.key 2048

# Create csf conf

cat > csr.conf <<EOF
[ req ]
default_bits = 2048
prompt = no
default_md = sha256
req_extensions = req_ext
distinguished_name = dn

[ dn ]
C = {{ country }}
ST = {{ state }}
L = {{ locality }}
O = {{ organization }}
OU = {{ organizationalUnit }}
CN = {{ commonName }}

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = {{ commonName }}
IP.1 = {{ ipAddress }} 

EOF

# create CSR request using private key

openssl req -new -key {{ commonName }}.key -out {{ commonName }}.csr -config csr.conf

# Create a external config file for the certificate

cat > cert.conf <<EOF

authorityKeyIdentifier=keyid,issuer
basicConstraints=CA:FALSE
keyUsage = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment
subjectAltName = @alt_names

[alt_names]
DNS.1 = {{ commonName }}

EOF

# Create SSl with self signed CA

openssl x509 -req \
    -in {{ commonName }}.csr \
    -CA rootCA.crt -CAkey rootCA.key \
    -CAcreateserial -out {{ commonName }}.crt \
    -days 365 \
    -sha256 -extfile cert.conf \
    -extfile v3.ext

# Add JKS to keystore path

mkdir -p /etc/docker/certs.d/{{ commonName }}:{{ docker_https_port }}
#mkdir -p /etc/docker-registry/certs
#mkdir -p /etc/docker-registry/auth

#chmod 755 /etc/docker-registry/certs
#chmod 755 /etc/docker-registry/auth

###cp {{ commonName }}.crt /etc/docker/certs.d/{{ commonName }}:{{ docker_https_port }}/ca.crt
cp {{ commonName }}.key /etc/docker/certs.d/{{ commonName }}:{{ docker_https_port }}/
cp {{ commonName }}.crt /etc/docker/certs.d/{{ commonName }}:{{ docker_https_port }}/{{ commonName }}.cert
cp rootCA.crt /etc/docker/certs.d/{{ commonName }}:{{ docker_https_port }}/ca.crt

chmod 644 /etc/docker/certs.d/{{ commonName }}:{{ docker_https_port }}/ca.crt
chmod 600 /etc/docker/certs.d/{{ commonName }}:{{ docker_https_port }}/{{ commonName }}.key
chmod 644 /etc/docker/certs.d/{{ commonName }}:{{ docker_https_port }}/{{ commonName }}.cert

#cp {{ commonName }}.crt /etc/docker-registry/certs/
#cp {{ commonName }}.key /etc/docker-registry/certs/


#chmod 600 /etc/docker-registry/certs/{{ commonName }}.key
#chmod 644 /etc/docker-registry/certs/{{ commonName }}.crt
 
