pipeline {
    agent {
        docker {
            image '{{ dockerImage }}'
            args  '--net=host -u root:root --privileged -v ${HOME}/.ant:/root/.ant'
            label 'BAnQ_Worker01'
        }
    }
    environment {
        ANT_OPTS                = "-Dfile.encoding=iso-8859-1"
        ANT_VERSION             = sh script: 'ant -version', returnStdout: true
    }

    triggers{
        bitbucketpr(projectPath:'{{ bitbucketUrl }}',
            cron: '* * * * *',
            credentialsId: '{{ bitbucketCredId }}',
            username: '',
            password: '',
            repositoryOwner: '{{ bitbucketRepoOwner }}',
            repositoryName: '{{ bitbucketProject }}',
            branchesFilter: '',
            branchesFilterBySCMIncludes: true,
            ciKey: 'jenkins',
            ciName: 'Jenkins',
            ciSkipPhrases: '',
            checkDestinationCommit: true,
            approveIfSuccess: true,
            cancelOutdatedJobs: false,
            buildChronologically: false,
            commentTrigger: 'test this please')
    }
    stages {
        stage ('Initialize') {
            steps {
                sh 'echo "Print the environment..."'
                // Setup the settings.xml file
                sh 'mkdir -p .ant'

                sh 'printenv'
            }
        }
        stage ('Build') {
            steps {
                echo "Building the application..."
                sh 'ant clean -f ${WORKSPACE}/build.xml'
                sh 'ant compile -f ${WORKSPACE}/build.xml'
            }
        }
        stage ('Test') {
            steps {
                echo "Testing the application..."
                sh 'ant test -f ${WORKSPACE}/build.xml'
            }
        }
    }
    post {
         always {
              // Take care of the ownership...
              sh 'chown -R jenkins:jenkins ${WORKSPACE}'
              sh 'rm -rf .ant .git'
         }
         cleanup {
              deleteDir()
              cleanWs()
         }
    }
}
