pipeline {
    agent {
        docker {
            image '{{ dockerImage }}'
            args  '--net=host -u root:root --privileged -v ${HOME}/.ant:/root/.ant'
        }
    }
    environment {
        ANT_OPTS                = "-Dfile.encoding=iso-8859-1"
	ANT_VERSION             = sh script: 'ant -version', returnStdout: true
        JAVA_VERSION            = sh script: 'java -version', returnStdout: true

        VERSION                 = sh script: "./tools/get_version.sh", returnStdout: true
        DEVELOPMENT_VERSION     = sh script: "./tools/get_development_version.sh '${VERSION}'", returnStdout: true
        // GROUPID                 = sh script: './tools/get_group.sh', returnStdout: true
        // GROUPID_MOD             = sh script: "./tools/get_modified_groupid.sh '${GROUPID}'", returnStdout: true      
        DATE                    = sh script: 't=$(date) && echo -n ${t}', returnStdout: true
 
        NEXUS_CREDS             = credentials('{{ nexusCredId }}')
        NEXUS_USER              = "$NEXUS_CREDS_USR"
        NEXUS_PASS              = "$NEXUS_CREDS_PSW"

        BITBUCKET_CREDS         = credentials('{{ bitbucketCredId }}')
        BITBUCKET_USER          = "$BITBUCKET_CREDS_USR"
        BITBUCKET_PASS          = "$BITBUCKET_CREDS_PSW"

        BITBUCKET_URL           = "{{ bitbucketModUrl }}"
        APP_NAME                = sh script: 't=$(basename "{{ bitbucketModUrl }}") && echo -n ${t%.*}', returnStdout: true
        CURRENT_BRANCH          = "${GIT_BRANCH}"

        DOCKER_REGISTRY_ADDRESS = "{{ dockerRegistry }}"
        NEXUS_REGISTRY_ADDRESS  = "{{ nexusRegistry }}"
        JIRA_ISSUE_KEY          = "{{ jiraIssueKey }}"

        JIRA_STRING             = {{ jiraString }}
    }

    parameters {
        booleanParam(name: 'RELEASE', defaultValue: false, description: 'Toggle this button to enable release to Nexus...')
        booleanParam(name: 'DOCKER_IMAGE', defaultValue: false, description: 'Build a docker image with this release...')
    }

    stages {
        stage ('Initialize') {
            steps {

                sh '''
                    git config --global --add safe.directory ${WORKSPACE}
		    git remote set-url origin ${BITBUCKET_URL}
                    git config --global user.name ${BITBUCKET_USER}
                    git config --global user.email "{{ gitConfigEmail }}"
                    		
		'''

                // Setup the settings.xml file
                sh 'mkdir -p .ant'

                sh 'sed -i -e "s/myuser/$NEXUS_USER/g" ${WORKSPACE}/build.properties'
                sh 'sed -i -e "s/mypassword/$NEXUS_PASS/g" ${WORKSPACE}/build.properties'

                sh 'printenv'

            }
        }
        stage ('Build') {
            steps {
                echo "Building the application..."
                sh 'ant clean -f ${WORKSPACE}/build.xml'
                sh 'ant compile -f ${WORKSPACE}/build.xml'
            }
        }
        stage ('Test') {
            steps {
                echo "Testing the application..."
                sh 'ant test -f ${WORKSPACE}/build.xml'
            }
        }
        stage ('Publish') {
            when { 
                expression { return params.RELEASE ==~ /(?i)(N|NO|F|FALSE|OFF)/ }
                anyOf {
		    branch 'develop';
                    branch 'master';
                    branch 'test/*';
 	 	    branch 'release/*'
                }
            }
            steps {
                sh '''
                   ${WORKSPACE}/tools/set_version_snapshot.sh
                   ant archive -f ${WORKSPACE}/build.xml
                   export SNAPSHOT_VERSION=$(${WORKSPACE}/tools/get_version_snapshot.sh)
                   export PROFILE=$(${WORKSPACE}/tools/get_profile.sh)
                   export FILENAME="idel-${PROFILE}-${SNAPSHOT_VERSION}.war"
                   export FILENAME_EXT="idel-${SNAPSHOT_VERSION}-1.war"
                   curl -X PUT -v -u ${NEXUS_USER}:${NEXUS_PASS} --upload-file "${WORKSPACE}/dist/${FILENAME}" "http://${NEXUS_REGISTRY_ADDRESS}:8081/repository/maven-snapshots/ca/qc/banq/gia/idel/${VERSION}-SNAPSHOT/${FILENAME_EXT}"
                   ${WORKSPACE}/tools/publish_datasources.sh 
                '''
            }
        }
        stage ('Publish Release') {
            when {
                expression { return params.RELEASE ==~ /(?i)(Y|YES|T|TRUE|ON|RUN)/ }
                anyOf {
 		    branch 'release/*'
                }
            }
            steps {
                echo "I in the release section..."

                sh '''       
	           # Tag the current version before you publish
                   git tag -a ${VERSION} -m "Version = ${VERSION}..."
                   git push --tags origin HEAD:"${GIT_BRANCH}"
                   ant archive -f ${WORKSPACE}/build.xml
                   export PROFILE=$(${WORKSPACE}/tools/get_profile.sh)
                   curl -X PUT -v -u ${NEXUS_USER}:${NEXUS_PASS} --upload-file "${WORKSPACE}/dist/idel-${PROFILE}-${VERSION}.war" "http://${NEXUS_REGISTRY_ADDRESS}:8081/repository/maven-releases/ca/qc/banq/gia/idel/${VERSION}/idel-${VERSION}.war"
                   ${WORKSPACE}/tools/publish_release_datasources.sh                
                   ${WORKSPACE}/tools/prepare_next_release.sh
                   git add ${WORKSPACE}/build.xml
                   git commit -m "Bumping to version ${DEVELOPMENT_VERSION}..."
                   git push origin HEAD:"${GIT_BRANCH}"
                '''
            }
        }
        stage ('Build Docker Image') {
            when {
                expression { return params.RELEASE ==~ /(?i)(Y|YES|T|TRUE|ON|RUN)/ &&
                                    params.DOCKER_IMAGE ==~ /(?i)(Y|YES|T|TRUE|ON|RUN)/ }
                anyOf {
                    branch 'release/*'
                }
            }
            steps {
                script {
                    echo "Build a docker image for the ${APP_NAME} version..."
                    if ( params.DOCKER_IMAGE == true ) {
                        build job: "Docker/build-application-docker-image",
                              wait: true,
                              parameters: [string(name: 'target', value: "${DOCKER_REGISTRY_ADDRESS}"),
                                           string(name: 'RegistryHost', value: "${DOCKER_REGISTRY_ADDRESS}"),
                                           string(name: 'Version', value: "${VERSION}"),
                                           string(name: 'BitbucketProject', value: "${APP_NAME}")]
                    }
                }
            }
        }
        stage ('Updating Jira Issue') {
            when {
                expression { return params.RELEASE ==~ /(?i)(Y|YES|T|TRUE|ON|RUN)/ &&
                                    params.DOCKER_IMAGE ==~ /(?i)(Y|YES|T|TRUE|ON|RUN)/ }
                anyOf {
                    branch 'release/*'
                }
            }
            steps {
                echo "Updating Jira release management issue RM-"

                jiraComment body: "${JIRA_STRING}", issueKey: "${JIRA_ISSUE_KEY}"

                echo "Sending email..."

                script {
                      def recipients = emailextrecipients([ [$class: 'DevelopersRecipientProvider'], [$class: 'RequesterRecipientProvider'], ])

                      emailext to: recipients,
                           from: "svc.cicd@banq.qc.ca",
                           recipientProviders: [developers(), requestor()],
                           subject: "New release:  ${VERSION}",
                           body: "${JIRA_STRING}"
                }
            }
        }
    }
    post {
            always {
                 // Take care of the ownership...
                 sh 'chown -R jenkins:jenkins ${WORKSPACE}'
                 sh 'rm -rf .m2 .git'
            }
            failure {
                 script {
                      def recipients = emailextrecipients([ [$class: 'DevelopersRecipientProvider'], [$class: 'RequesterRecipientProvider'], ])

                      emailext to: recipients,
                           from: "svc.cicd@banq.qc.ca",
                           recipientProviders: [developers(), requestor()],
                           subject: "Attachement Test...",
                           body: "Test",
                           attachLog: true
                 }
            }
            cleanup {
                 deleteDir()
                 cleanWs()
            }
        }
}
