pipeline {
    agent {
        docker {
            image '{{ dockerImage }}'
            args  '--net=host -u root:root --privileged -v ${HOME}/.m2:/root/.m2'
        }
    }
    //tools {
    //    maven 'Maven 3.3.9'
    //    jdk 'jdk8'
    //}
    environment {
	MAVEN_VERSION           = sh script: 'mvn -v', returnStdout: true
        JAVA_VERSION            = sh script: 'java -version', returnStdout: true
        VERSION                 = sh script: 'mvn help:evaluate -Dexpression=project.version -q -DforceStdout | sed "s/-.*//"', returnStdout: true
        GROUPID                 = sh script: 'mvn help:evaluate -Dexpression=project.groupId -q -DforceStdout', returnStdout: true
        ARTIFACT_ID             = sh script: 'mvn help:evaluate -Dexpression=project.artifactId -q -DforceStdout', returnStdout: true
        GROUPID_MOD             = sh script: "./tools/get_modified_groupid.sh '${GROUPID}'", returnStdout: true
        NAME                    = sh script: 'mvn help:evaluate -Dexpression=project.name -q -DforceStdout', returnStdout: true
        DEVELOPMENT_VERSION     = sh script: "./tools/get_development_version.sh '${VERSION}'", returnStdout: true
        DATE                    = sh script: 't=$(date) && echo -n ${t}', returnStdout: true

        NEXUS_CREDS             = credentials('{{ nexusCredId }}')
        NEXUS_USER              = "$NEXUS_CREDS_USR"
        NEXUS_PASS              = "$NEXUS_CREDS_PSW"

        BITBUCKET_CREDS         = credentials('{{ bitbucketCredId }}')
        BITBUCKET_USER          = "$BITBUCKET_CREDS_USR"
        BITBUCKET_PASS          = "$BITBUCKET_CREDS_PSW"

        BITBUCKET_URL           = "{{ bitbucketModUrl }}"
        APP_NAME                = sh script: 't=$(basename "{{ bitbucketModUrl }}") && echo -n ${t%.*}', returnStdout: true

        CURRENT_BRANCH          = "${GIT_BRANCH}"

        DOCKER_REGISTRY_ADDRESS = "{{ dockerRegistry }}"
        NEXUS_REGISTRY_ADDRESS  = "{{ nexusRegistry }}"
        JIRA_ISSUE_KEY          = "{{ jiraIssueKey }}"

        JIRA_STRING             = {{ jiraString }}
    }

    parameters {
        booleanParam(name: 'RELEASE', defaultValue: false, description: 'Toggle this button to enable release to Nexus...')
        booleanParam(name: 'DOCKER_IMAGE', defaultValue: false, description: 'Build a docker image with this release...')
    }

    stages {
        stage ('Initialize') {
            steps {

                sh '''
                    git config --global --add safe.directory ${WORKSPACE}
		    git remote set-url origin ${BITBUCKET_URL}
                    git config --global user.name ${BITBUCKET_USER}
                    git config --global user.email "{{ gitConfigEmail }}"
                    		
		'''

                sh '''
                    echo "Maven Version    = ${MAVEN_VERSION}"
                    echo "Java  Version    = ${JAVA_VERSION}"
		    echo "============================================================"
                    echo "Project Info from the pom.xml file"
		    echo "============================================================"
		    echo "Project Version  = ${PROJECT_VERSION}"
                    echo "Project GroupId  = ${PROJECT_GROUPID}"
		    echo "Project Name     = ${PROJECT_NAME}"
                    echo "PATH = ${PATH}"
                    echo "M2_HOME = ${M2_HOME}"
                    echo "============================================================"
                '''

                // Setup the settings.xml file
                sh 'mkdir -p .m2'
                sh 'cp ./JenkinsSettings.xml .m2/settings.xml'
                sh 'sed -i -e "s/nexus_user/$NEXUS_USER/g" .m2/settings.xml'
                sh 'sed -i -e "s/nexus_pass/$NEXUS_PASS/g" .m2/settings.xml'
                sh 'sed -i -e "s/scm_user/$BITBUCKET_USER/g" .m2/settings.xml'
                sh 'sed -i -e "s/scm_pass/$BITBUCKET_PASS/g" .m2/settings.xml'                

                 
                sh 'printenv'
            }
        }
        stage ('Build') {
            steps {
                echo "Building the application..."
                sh 'mvn -Dmaven.test.failure.ignore=true -Dcoberture.skip=true clean install'
            }
        }
        stage ('Test') {
            steps {
                echo "Testing the application..."
                sh 'mvn test'
            }
        }
        stage ('Publish') {
            when { 
                expression { return params.RELEASE ==~ /(?i)(N|NO|F|FALSE|OFF)/ }
                anyOf {
		    branch 'develop';
                    branch 'master';
                    branch 'test/*';
 	 	    branch 'release/*'
                }
            }
            steps {
                sh 'mvn deploy -X -U -s .m2/settings.xml -DskipTests=true -Dmaven.test.skip=true -Dmaven.wagon.http.ssl.insecure=true -Dmaven.wagon.http.ssl.ignore.validity.dates=true' 
            }
        }
        stage ('Publish Release') {
            when {
                expression { return params.RELEASE ==~ /(?i)(Y|YES|T|TRUE|ON|RUN)/ }
                anyOf {
 		    branch 'release/*'
                }
            }
            steps {
                echo "I in the release section..."

                sh '''
	            mkdir -p heavy_clone
                    cd heavy_clone
			git clone "${BITBUCKET_URL}"                        
			cd ${APP_NAME}
			    git checkout ${CURRENT_BRANCH}
			    git fetch --tags
                            mvn -U release:clean
  			    mvn -U -s ${WORKSPACE}/.m2/settings.xml release:prepare --batch-mode -Dtag=${VERSION} -DreleaseVersion=${VERSION} -DdevelopmentVersion=${DEVELOPMENT_VERSION} -DuseReleaseProfile=false -Dmaven.wagon.http.ssl.insecure=true -Dmaven.wagon.http.ssl.ignore.validity.dates=true
			    mvn -U -s ${WORKSPACE}/.m2/settings.xml release:perform -Dtag=${VERSION} -DuseReleaseProfile=false -Dmaven.wagon.http.ssl.insecure=true -Dmaven.wagon.http.ssl.ignore.validity.dates=true
			cd ..
 		    cd ..    	
		'''
            }
        }
        stage ('Build Docker Image') {
            when {
                expression { return params.RELEASE ==~ /(?i)(Y|YES|T|TRUE|ON|RUN)/ &&
                                    params.DOCKER_IMAGE ==~ /(?i)(Y|YES|T|TRUE|ON|RUN)/ }
                anyOf {
                    branch 'release/*'
                }
            }
            steps {
                script {
                    echo "Build a docker image for the ${APP_NAME} version..."
                    if ( params.DOCKER_IMAGE == true ) {
                        build job: "Docker/build-application-docker-image",
                              wait: true,
                              parameters: [string(name: 'target', value: "${DOCKER_REGISTRY_ADDRESS}"),
                                           string(name: 'RegistryHost', value: "${DOCKER_REGISTRY_ADDRESS}"),
                                           string(name: 'Version', value: "${VERSION}"),
                                           string(name: 'BitbucketProject', value: "${APP_NAME}")]
                    }
                }
            }
        }
        stage ('Updating Jira Issue') {
            when {
                expression { return params.RELEASE ==~ /(?i)(Y|YES|T|TRUE|ON|RUN)/ &&
                                    params.DOCKER_IMAGE ==~ /(?i)(Y|YES|T|TRUE|ON|RUN)/ }
                anyOf {
                    branch 'release/*'
                }
            }
            steps {
                echo "Updating Jira release management issue RM-"

                jiraComment body: "${JIRA_STRING}", issueKey: "${JIRA_ISSUE_KEY}"

                echo "Sending email..."

                script {
                      def recipients = emailextrecipients([ [$class: 'DevelopersRecipientProvider'], [$class: 'RequesterRecipientProvider'], ])

                      emailext to: recipients,
                           from: "svc.cicd@banq.qc.ca",
                           recipientProviders: [developers(), requestor()],
                           subject: "New release:  ${VERSION}",
                           body: "${JIRA_STRING}"
                }
            }
        }
    }
    post {
            always {
                 // Take care of the ownership...
                 sh 'chown -R jenkins:jenkins ${WORKSPACE}'
                 sh 'rm -rf .m2 .git'
            }
            failure {
                 script {
                      def recipients = emailextrecipients([ [$class: 'DevelopersRecipientProvider'], [$class: 'RequesterRecipientProvider'], ])

                      emailext to: recipients,
                           from: "svc.cicd@banq.qc.ca",
                           recipientProviders: [developers(), requestor()],
                           subject: "Attachement Test...",
                           body: "Test",
                           attachLog: true
                 }
            }
            cleanup {
                 deleteDir()
                 cleanWs()
            }
        }
}
