FROM lvlops0d.bnquebec.ca:443/alpine1.0-openjdk11-maven3.8.5-testing
LABEL Service Account <svc.cicd@banq.qc.ca>

# 1-Create the directories for ideln-frontend jars
RUN mkdir -p /usr/local/lib/ideln-frontend/

# 2-Begin copying the jar files from nexus to the image..
RUN if [ -z "{{ webExtranet }}" ]; then \
       echo "Extranet Lib is equal to null"; \
    else \
       curl -fsSL -o /usr/local/lib/ideln-frontend/{{ extranetArtifactId }} {{ webExtranet }}; \ 
    fi 
 
RUN if [ -z "{{ webIntranet }}" ]; then \
       echo "Intranet Lib is equal to null"; \
    else \
       curl -fsSL -o /usr/local/lib/ideln-frontend/{{ intranetArtifactId }} {{ webIntranet }}; \
    fi

# CMD [""]
