FROM lvlops0d.bnquebec.ca:443/alpine-openjdk1.8-maven3.8.6-testing
LABEL Service Account <svc.cicd@banq.qc.ca>

# 1-Create the directories for {{ applicationName }} jars
RUN mkdir -p /opt/docker-files/{{ applicationName }}/{{ version }}

# 2-Begin copying the jar files from nexus to the image..
RUN curl -fsSL -o /opt/docker-files/{{ applicationName }}/{{ version }}/{{ applicationName }}-{{ version }}.jar {{ artifactUrl }}

# 3-Create the softlink to the application...
RUN ln -sf /opt/docker-files/{{ applicationName }}/{{ version }}/{{ applicationName }}-{{ version }}.jar /opt/docker-files/{{ applicationName }}/{{ applicationName }}.jar

# 4-Set working directory
WORKDIR /

# 5-Add environmental variables...
ENV JAVA_VERSION "1.8.0_345"
ENV JAVA_HOME "/usr/lib/jvm/default-jvm/jre"
ENV API_SERVICE_AUTHENTIFICATION_LOG_HOME "/var/log"
ENV PATH "$PATH:/usr/lib/jvm/default-jvm/jre/bin"

# 6-Add the entrypoint.sh file...
COPY ./entrypoint.sh /entrypoint.sh

# 7-Ensure the entrypoint.sh script is executable...
RUN chmod 774 /entrypoint.sh

# 8-Start the application
# ENTRYPOINT ["/entrypoint.sh"]

# CMD [""]
