FROM lvlops0d.bnquebec.ca:443/alpine1.0-openjdk1.8-maven3.8.5-testing
LABEL Service Account <svc.cicd@banq.qc.ca>

# 1-Create the directories for jjwt libraries
RUN mkdir -p /usr/local/lib/jjwt/{{ version }}

# 2-Begin copying the jar files from nexus to the image..
RUN curl -fsSL -o /usr/local/lib/jjwt/{{ version }}/jjwt-api-{{ version }}-javadoc.jar http://lvlops0c.bnquebec.ca:8081/repository/maven-releases/io/jsonwebtoken/jjwt-api/{{ version }}/jjwt-api-{{ version }}-javadoc.jar

RUN curl -fsSL -o /usr/local/lib/jjwt/{{ version }}/jjwt-api-{{ version }}-sources.jar http://lvlops0c.bnquebec.ca:8081/repository/maven-releases/io/jsonwebtoken/jjwt-api/{{ version }}/jjwt-api-{{ version }}-sources.jar

RUN curl -fsSL -o /usr/local/lib/jjwt/{{ version }}/jjwt-api-{{ version }}.jar http://lvlops0c.bnquebec.ca:8081/repository/maven-releases/io/jsonwebtoken/jjwt-api/{{ version }}/jjwt-api-{{ version }}.jar

# CMD [""]
