FROM lvlops0d.bnquebec.ca:443/alpine1.0-openjdk1.8-maven3.8.5-testing
LABEL Service Account <svc.cicd@banq.qc.ca>

# 1-Create the directories for java-gradle-nexus jar
RUN mkdir -p /usr/local/lib/java-gradle-nexus/{{ version }}

# 2-Begin copying the jar files from nexus to the image..
RUN curl -fsSL -o /usr/local/lib/java-gradle-nexus/{{ version }}/bootcamp-java-project-{{ version }}.jar http://lvlops0c.bnquebec.ca:8081/repository/maven-releases/com/example/bootcamp-java-project/{{ version }}/bootcamp-java-project-{{ version }}.jar

# CMD [""]
