# FROM lvlops0d.bnquebec.ca:443/alpine-openjdk17-maven3.8.6-testing
FROM lvlops0d.bnquebec.ca:443/ideln-frontend-ssl-6-java-17-maven-3.9.3-gradle-8.1.1-node-v19.9.0
LABEL Service Account <svc.cicd@banq.qc.ca>

# 1-Create the directories for {{ bitbucketProject }} jars
RUN mkdir -p /usr/local/lib/{{ bitbucketProject }}/{{ version }}

# 2-Begin copying the jar files from nexus to the image..
RUN curl -fsSL -o /usr/local/lib/{{ bitbucketProject }}/{{ version }}/intranet-{{ version }}.jar http://{{ nexus_server }}:8081/repository/maven-releases/ca/qc/banq/ideln-backend/intranet/{{ version }}/intranet-{{ version }}.jar


# CMD [""]
