FROM mhart/alpine-node:latest
LABEL Service Account <svc.cicd@banq.qc.ca>
RUN apk add --no-cache curl tar bash procps git

# 1-Create the directories for the nodejs package
RUN mkdir -p /usr/local/lib/node-apps/{{ version }}

# 2-Begin copying the package files from nexus to the image..
RUN curl -fsSL -o /usr/local/lib/node-apps/{{ version }}/nodejs.org-{{ version }}.tgz http://lvlops0c.bnquebec.ca:8081/repository/npm-releases/nodejs.org/-/nodejs.org-{{ version }}.tgz

RUN tar xvfz /usr/local/lib/node-apps/{{ version }}/nodejs.org-{{ version }}.tgz -C /usr/local/lib/node-apps/{{ version }}

# CMD [""]
