FROM lvlops0d.bnquebec.ca:443/alpine-openjdk1.8-ant1.10.12-testing
LABEL Service Account <svc.cicd@banq.qc.ca>

# 1-Create the directories for {{ bitbucketProject }} war
RUN mkdir -p /usr/local/lib/{{ bitbucketProject }}/{{ version }}

# 2-Begin copying the jar files from nexus to the image..
RUN curl -fsSL -o /usr/local/lib/{{ bitbucketProject }}/{{ version }}/idel-{{ version }}.war http://{{ nexus_server }}:8081/repository/maven-releases/ca/qc/banq/gia/idel/{{ version }}/idel-{{ version }}.war


# CMD [""]
