FROM lvlops0d.bnquebec.ca:443/alpine1.0-openjdk11-maven3.8.5-testing
LABEL Service Account <svc.cicd@banq.qc.ca>

# 1-Create the directories for {{ bitbucketProject }} jars
RUN mkdir -p /usr/local/lib/{{ bitbucketProject }}/{{ version }}

# 2-Begin copying the jar files from nexus to the image..
RUN curl -fsSL -o /usr/local/lib/{{ bitbucketProject }}/{{ version }}/idel-frontend-app-{{ version }}.tgz http://{{ nexus_server }}:8081/repository/npm-releases/idel-frontend-app/-/idel-frontend-app-{{ version }}.tgz

# RUN tar xvfz /usr/local/lib/{{ bitbucketProject }}/{{ version }}/idel-frontend-app-{{ version }}.tgz -C /usr/local/lib/node-apps/{{ version }}

RUN chmod 777 /tmp

# CMD [""]
