FROM lvlops0d.bnquebec.ca:443/redhat8-nodejs4.4.3-banqn
LABEL Service Account <svc.cicd@banq.qc.ca>
# RUN apk add --no-cache curl tar bash procps git

# 1- Create the banq group and user...
RUN groupadd -g 550 banq \
  && useradd -d /home/banq -u 550 -g banq  banq\
  && echo "welcome" | passwd --stdin banq 2>/dev/null

# 9- Enable the banq home directory...
RUN chown -R banq:banq /home/banq \
  && chmod 777 /home/banq

# 1-Create the directories for the nodejs package
RUN mkdir -p /opt/node-apps/{{ version }}

# 2-Begin copying the package files from nexus to the image..
RUN curl -fsSL -o /opt/node-apps/{{ version }}/angularjs-gulp-browserify-boilerplate-{{ version }}.tgz http://{{ nexus_server }}:8081/repository/npm-releases/angularjs-gulp-browserify-boilerplate/-/angularjs-gulp-browserify-boilerplate-{{ version }}.tgz



RUN tar xvfz /opt/node-apps/{{ version }}/angularjs-gulp-browserify-boilerplate-{{ version }}.tgz -C /opt/node-apps/{{ version }}

RUN cd /opt/node-apps/{{ version }}

RUN cd /opt/node-apps/{{ version }}/package; npm install --python=python2.7; bower install

RUN rm -rf /opt/node-apps/{{ version }}/package/node_modules/run-sequence/node_modules/chalk/*

RUN cp -r /opt/node-apps/{{ version }}/package/manual_install_modules/node_modules_fix/chalk/* /opt/node-apps/{{ version }}/package/node_modules/run-sequence/node_modules/chalk/

RUN rm -rf /opt/node-apps/{{ version }}/package/node_modules/debowerify/node_modules/bower/node_modules/bower-registry-client/node_modules/request/node_modules/tough-cookie/*

RUN cp -r /opt/node-apps/{{ version }}/package/manual_install_modules/node_modules_fix/tough-cookie/* /opt/node-apps/{{ version }}/package/node_modules/debowerify/node_modules/bower/node_modules/bower-registry-client/node_modules/request/node_modules/tough-cookie/

RUN cd /opt/node-apps/{{ version }} \
    && chown -R banq:banq *

RUN chmod 777 /tmp

# CMD [""]
