FROM lvlops0d.bnquebec.ca:443/alpine1.0-openjdk11-maven3.8.5-testing
LABEL Service Account <svc.cicd@banq.qc.ca>

# 1-Create the directories for {{ bitbucketProject }} jars
RUN mkdir -p /usr/local/lib/{{ bitbucketProject }}/{{ version }}

# 2-Begin copying the jar files from nexus to the image..
RUN curl -fsSL -o /usr/local/lib/{{ bitbucketProject }}/{{ version }}/banq-authentication-service-{{ version }}.jar http://{{ nexus_server }}:8081/repository/maven-releases/ca/qc/banq/gia/banq-authentication-service/{{ version }}/banq-authentication-service-{{ version }}.jar

# CMD [""]
