#!/bin/bash

set -x

DISPLAY_NAME=""
APPLICATION_FILE=""
ACCESS_TOKEN=""

CLIENT_ID="{{ clientID }}"
CLIENT_SECRET="{{ clientSecret }}"
SCOPE="{{ scope }}"
APPLICATION_ID="ecaee64d-66c8-4199-b641-6978a36cace1"
TENANT_ID="{{ tenantID }}"

RET=0
ARGS=$(getopt -o "d:a:" -l "display-name:, application-file:" -n "$0" -- "$@")


function usage {
    echo "Usage: $0 -d | --display-name <display name> -a | --application-file <application file>"
    exit
}

function setup_display_name_in_application_file {
    echo "sed the display name into the application file..."
    sed -i "0,/\"displayName\":/{s/\"displayName\":.*/\"displayName\": \"${DISPLAY_NAME}\",/}" ${APPLICATION_FILE}
}

function get_token {
    # Get a token for the given client_application and tenant
    # Getting the token...
    curl -X POST -o ./token.json -d "grant_type=client_credentials&client_id=${CLIENT_ID}&client_secret=${CLIENT_SECRET}&scope=${SCOPE}" https://login.microsoftonline.com/${TENANT_ID}/oauth2/v2.0/token

    # Store the token to a variable
    local access_token=$(jq '.access_token' ./token.json | tr -d '"')
    echo $access_token
}

function delete_application {
    echo "Deleting the application.  ${DISPLAY_NAME}"
    # Get the application configuration...
    az ad app list --display-name "${DISPLAY_NAME}" > ./${DISPLAY_NAME}.json

    local display_app_id=$(jq '.[].id' ./${DISPLAY_NAME}.json | tr -d '"')

    # Make the graph api call
    curl -X DELETE -w "\n%{http_code}\n" -H "Authorization: Bearer ${ACCESS_TOKEN}" -H "Content-Type: application/json" "https://graph.microsoft.com/v1.0/applications/${display_app_id}"
}

function add_application {
    echo "Adding the application...   [${DISPLAY_NAME}]"
    # Make the graph api call
    echo "Create the application..."
    curl -X POST -o ./application.json -H "Authorization: Bearer ${ACCESS_TOKEN}" -H "Content-Type: application/json" -d @${APPLICATION_FILE} "https://graph.microsoft.com/v1.0/applications"

    # Get the application id
    local new_application_id=$(jq '.id' ./application.json | tr -d '"')
    local new_application_app=$(jq '.appId' ./application.json | tr -d '"')

    # Add the password object
    echo "Add the password object..."
    curl -X POST -w "\n%{http_code}\n" -H "Authorization: Bearer ${ACCESS_TOKEN}" -H "Content-Type: application/json" --data-raw "{ 'passwordCredential': { 'displayName': 'client-${DISPLAY_NAME}'} }" "https://graph.microsoft.com/v1.0/applications/${new_application_id}/addPassword"

    # Get the clientid (appid)
    local new_client_id=$(jq '.appId' ./application.json | tr -d '"')

    # Create the service principal
    echo "Create the service principal object..."
    curl -X POST -o ./servicePrincipal.json -H "Authorization: Bearer ${ACCESS_TOKEN}" -H "Content-Type: application/json" --data-raw "{ 'appId': '${new_client_id}'}" "https://graph.microsoft.com/v1.0/servicePrincipals"

    local service_principal_id=$(jq '.id' ./servicePrincipal.json | tr -d '"')
    local service_principal_app=$(jq '.appId' ./servicePrincipal.json | tr -d '"')

    # Get the resourceAppId's
    local resource_app_ids=$(jq -r '.requiredResourceAccess[] | [.resourceAppId] | @tsv ' ${APPLICATION_FILE})

    echo "Grant admin consent to the scopes and roles..."
    for item in $resource_app_ids
    do
        echo "$item"

        # Build the individual resourceAppId files...
        az ad sp show --id ${item} > ./graph_permission_list-${item}.json

        # Get the individual scopes and roles from the manifest | create application file...
        jq --arg RESOURCE_APP_ID "${item}" -r '.requiredResourceAccess[] | select(.resourceAppId == $RESOURCE_APP_ID)  ' ${APPLICATION_FILE} > ${item}.json

        # Update the delegated scopes first...
        local resource_ids_scopes=$(jq --arg type "Scope" -r '.resourceAccess[] | select(.type == $type).id ' ${item}.json)

        # Get your scopes
        for item_scope in ${resource_ids_scopes}
        do
            echo "resource id scope:   ${item_scope}"

            # Get the scope value...
            local scope=$(jq --arg id "${item_scope}" -r '.oauth2PermissionScopes[] | select(.id == $id).value' ./graph_permission_list-${item}.json)

            echo "Scope:   ${scope}"

            # Grant admin consent
            curl -X POST -w "\n%{http_code}\n" -H "Authorization: Bearer ${ACCESS_TOKEN}" \
                                               -H "Content-Type: application/json" \
                                               --data-raw  "{ 'clientId': '${service_principal_id}',
                                                              'consentType': 'AllPrincipals',
                                                              'principalId': null,
                                                              'resourceId': '${item}',
                                                              'scope': '${scope}'
                                                           }" \
                                               "https://graph.microsoft.com/v1.0/oauth2PermissionGrants"


        done

        # Update the application roles
        local resource_ids_roles=$(jq --arg type "Role" -r '.resourceAccess[] | select(.type == $type).id ' ${item}.json)

        # Get the resoure id and service principal object for MSGraph
        local graph_service_principal=$(jq '.id' ./graph_permission_list-${item}.json | tr -d '"')

        # Get your roles
        for item_role in ${resource_ids_roles}
        do
            echo "resource id role:   ${item_role}"

            # Grant admin consent application
            curl -X POST -w "\n%{http_code}\n" -H "Authorization: Bearer ${ACCESS_TOKEN}" \
                                               -H "Content-Type: application/json" \
                                               --data-raw  "{ 'principalId': '${service_principal_id}',
                                                              'resourceId': '${graph_service_principal}',
                                                              'appRoleId': '${item_role}'
                                                            }" \
                                                           "https://graph.microsoft.com/v1.0/servicePrincipals/${graph_service_principal}/appRoleAssignments"
        done
    done
}


function start {

    # Setup the application input file...
    # setup_display_name_in_application_file

    # You need to login to the service principal account (palleyne)
    az login --allow-no-subscriptions --service-principal -u "${CLIENT_ID}" -p "${CLIENT_SECRET}" -t "${TENANT_ID}"

    # Get the access token...
    ACCESS_TOKEN=$(get_token)

    # Check if the application already exists...
    az ad sp list --display-name "${DISPLAY_NAME}"  | grep ${DISPLAY_NAME} >/dev/null
    if [ $? == 0 ]
    then
       delete_application
    fi

    # Add the application
    add_application

    # Logout of the account at this point...
    az logout
}


eval set -- "$ARGS"

while true 
do
   case "$1" in 
        -d|--display-name)
            if [ -n "$2" ]; then 
               DISPLAY_NAME="$2"
            else
	       "Invalid display name..."
               exit -1
            fi
            shift 2;;
        -a|--application-file)
            if [ ! -f "$2" ]; then
               echo "application file: [$2] not found..."
               exit -1
            else
               APPLICATION_FILE="$2"
            fi
            shift 2;;
        --)
            shift
            break;;
    esac
done

if [ -n "$DISPLAY_NAME" ] && [ -n "$APPLICATION_FILE" ]
then
    start
else
    usage  
fi 	
