{
    "addIns": [],
    "api": {
        "acceptMappedClaims": null,
        "knownClientApplications": [],
        "oauth2PermissionScopes": [],
        "preAuthorizedApplications": [],
        "requestedAccessTokenVersion": null
    },
    "appRoles": [],
    "applicationTemplateId": null,
    "certification": null,
    "defaultRedirectUri": null,
    "deletedDateTime": null,
    "description": null,
    "disabledByMicrosoftStatus": null,
    "displayName": "{{ displayName }}",
    "groupMembershipClaims": null,
    "identifierUris": [],
    "info": {
        "logoUrl": null,
        "marketingUrl": null,
        "privacyStatementUrl": null,
        "supportUrl": null,
        "termsOfServiceUrl": null
    },
    "isDeviceOnlyAuthSupported": null,
    "isFallbackPublicClient": null,
    "keyCredentials": [],
    "notes": null,
    "optionalClaims": null,
    "parentalControlSettings": {
        "countriesBlockedForMinors": [],
        "legalAgeGroupRule": "Allow"
    },
    "publicClient": { 
        "redirectUris": []
    },
    "requiredResourceAccess": [
        {
            "resourceAccess": [
                {
                    "id": "7427e0e9-2fba-42fe-b0c0-848c9e6a8182",
                    "type": "Scope"
                },
                {
                    "id": "37f7f235-527c-4136-accd-4a02d197296e",
                    "type": "Scope"
                },
                {
                    "id": "79a677f7-b79d-40d0-a36a-3e6f8688dd7a",
                    "type": "Role"
                },
                {
                    "id": "1bfefb4e-e0b5-418b-a88f-73c46d2cc8e9",
                    "type": "Role"
                },
                {
                    "id": "9a5d68dd-52b0-4cc2-bd40-abcf44ac3a30",
                    "type": "Role"
                },
                {
                    "id": "18a4783c-866b-4cc7-a460-3d5e5662c884",
                    "type": "Role"
                }
            ],
            "resourceAppId": "00000003-0000-0000-c000-000000000000"
        }
    ],
    "samlMetadataUrl": null,
    "serviceManagementReference": null,
    "signInAudience": "AzureADandPersonalMicrosoftAccount",
    "spa": {
        "redirectUris": []
    },
    "tags": [],
    "tokenEncryptionKeyId": null,
    "verifiedPublisher": {
        "addedDateTime": null,
        "displayName": null,
        "verifiedPublisherId": null
    },
    "web": {
        "homePageUrl": null,
        "implicitGrantSettings": {
            "enableAccessTokenIssuance": true,
            "enableIdTokenIssuance": true
        },
        "logoutUrl": null,
        "redirectUris": [
            "{{ applicationEndpoint }}"
        ]
    }
}

