#FROM lvlops0d.bnquebec.ca:5000/alpine1.0-openjdk11-maven3.8.5-testing
#FROM lvlops0d.bnquebec.ca:443/ideln-frontend-ssl-8-java-17-maven-3.9.3-gradle-8.1.1-node-v19.9.0
FROM lvlops0d.bnquebec.ca:443/ideln-frontend-ssl-java-21-maven-3.9.6-gradle-8.1.1-node-v19.9.0
LABEL Service Account <svc.cicd@banq.qc.ca>

# 1-Create the directories for ideln-frontend jars
RUN mkdir -p /usr/local/lib/ideln-backend/

# 2-Begin copying the jar files from nexus to the image..
RUN if [ -z "{{ extranet }}" ]; then \
       echo "Extranet Jar is equal to null"; \
    else \
       curl -fsSL -o /usr/local/lib/ideln-backend/{{ extranetArtifactId }} {{ extranet }}; \
    fi


ENTRYPOINT ["java","-Dspring.profiles.active=dev","-jar","/usr/local/lib/ideln-backend/{{ extranetArtifactId }}"]

# CMD [""]
