<?xml version="1.0"?>

<project name="{{ projectName }}" default="deploy" basedir=".">

    <property name="project.name" value="{{ projectName }}"/>
    <property name="project.version" value="{{ projectVersion }}"/>
    
</project>
