pipeline {
    agent {
        docker {
            image '{{ dockerImage }}'
            args  '--net=host -u root:root --privileged -v ${HOME}/.azure:/root/.azure'
        }
    }

    environment {
        // JAVA_VERSION            = sh script: 'java -version', returnStdout: true

        VERSION                 = sh script: "./tools/get_version.sh", returnStdout: true
        DEVELOPMENT_VERSION     = sh script: "./tools/get_development_version.sh '${VERSION}'", returnStdout: true
        DATE                    = sh script: 't=$(date) && echo -n ${t}', returnStdout: true
        PROJECT_NAME            = sh script: "./tools/get_project_name.sh", returnStdout: true

        TENANT_ID		= "giadevbanq.onmicrosoft.com"
        AD_B2C_WEBAPP1_CREDS    = credentials('{{ adb2cCredId }}')
        AD_B2C_WEBAPP1_USER     = "AD_B2C_WEBAPP1_CREDS_USR"
        AD_B2C_WEBAPP1_PASS     = "AD_B2C_WEBAPP1_CREDS_PSW"

 
        NEXUS_CREDS             = credentials('{{ nexusCredId }}')
        NEXUS_USER              = "$NEXUS_CREDS_USR"
        NEXUS_PASS              = "$NEXUS_CREDS_PSW"

        BITBUCKET_CREDS         = credentials('{{ bitbucketCredId }}')
        BITBUCKET_USER          = "$BITBUCKET_CREDS_USR"
        BITBUCKET_PASS          = "$BITBUCKET_CREDS_PSW"

        BITBUCKET_URL           = "{{ bitbucketModUrl }}"
        APP_NAME                = sh script: 't=$(basename "{{ bitbucketModUrl }}") && echo -n ${t%.*}', returnStdout: true
        CURRENT_BRANCH          = "${GIT_BRANCH}"

        DOCKER_REGISTRY_ADDRESS = "{{ dockerRegistry }}"
        NEXUS_REGISTRY_ADDRESS  = "{{ nexusRegistry }}"
        JIRA_ISSUE_KEY          = "{{ jiraIssueKey }}"

        JIRA_STRING             = {{ jiraString }} 

    }

    parameters {
        booleanParam(name: 'RELEASE', defaultValue: false, description: 'Toggle this button to enable release to Nexus...')
        booleanParam(name: 'AZURE_UPLOAD', defaultValue: false, description: 'Upload policies to the b2c tenant...')
    }

    stages {
        stage ('Initialize') {
            steps {

                sh '''
                    git config --global --add safe.directory ${WORKSPACE}
		    git remote set-url origin ${BITBUCKET_URL}
                    git config --global user.name ${BITBUCKET_USER}
                    git config --global user.email "{{ gitConfigEmail }}"
                    		
		'''

                // Setup the settings.xml file
                sh 'mkdir -p .azure'

                sh 'printenv'

            }
        }
        stage ('Syntax Checking') {
            steps {
                echo "Syntax checking the application..."

                sh '''
                    xmllint ${WORKSPACE}/banq-gia/PasswordReset.xml --noout
                    xmllint ${WORKSPACE}/banq-gia/ProfileEdit.xml --noout
                    xmllint ${WORKSPACE}/banq-gia/SignUpOrSignin.xml --noout
                    xmllint ${WORKSPACE}/banq-gia/TrustFrameworkBase.xml --noout
                    xmllint ${WORKSPACE}/banq-gia/TrustFrameworkExtensions.xml --noout
                    xmllint ${WORKSPACE}/banq-gia/TrustFrameworkLocalization.xml --noout
                '''
            }
        }
        stage ('Validate') {
            steps {
                echo "Validating the application..."

                sh '''
                    xmllint --schema ${WORKSPACE}/TrustFrameworkPolicy_0.3.0.0.xsd ${WORKSPACE}/banq-gia/PasswordReset.xml --noout
                    xmllint --schema ${WORKSPACE}/TrustFrameworkPolicy_0.3.0.0.xsd ${WORKSPACE}/banq-gia/ProfileEdit.xml --noout
                    xmllint --schema ${WORKSPACE}/TrustFrameworkPolicy_0.3.0.0.xsd ${WORKSPACE}/banq-gia/SignUpOrSignin.xml --noout
                    # xmllint --schema ${WORKSPACE}/TrustFrameworkPolicy_0.3.0.0.xsd ${WORKSPACE}/banq-gia/TrustFrameworkBase.xml --noout
                    xmllint --schema ${WORKSPACE}/TrustFrameworkPolicy_0.3.0.0.xsd ${WORKSPACE}/banq-gia/TrustFrameworkExtensions.xml --noout
                    xmllint --schema ${WORKSPACE}/TrustFrameworkPolicy_0.3.0.0.xsd ${WORKSPACE}/banq-gia/TrustFrameworkLocalization.xml --noout
                '''               
            }
        }
        stage ('Upload to Azure B2C') {
            when {
                expression { return params.AZURE_UPLOAD ==~ /(?i)(Y|YES|T|TRUE|ON|RUN)/ }
                anyOf {
                    branch 'develop';
                    branch 'master';
                    branch 'test/*';
                    branch 'release/*'
                    branch 'feature/*'
                }
            }
            steps {
                echo "Uploading to Azure B2C"

                sh '''
                     ieftool deploy -t ${TENANT_ID} -c ${AD_B2C_WEBAPP1_CREDS_USR} -s ${AD_B2C_WEBAPP1_CREDS_PSW} -p ${WORKSPACE}/banq-gia 
                '''               
            }
        }
        stage ('Publish') {
            when { 
                expression { return params.RELEASE ==~ /(?i)(N|NO|F|FALSE|OFF)/ }
                anyOf {
		    branch 'develop';
                    branch 'master';
                    branch 'test/*';
 	 	    branch 'release/*'
                }
            }
            steps {
                sh '''
                   echo "Publish..."
                   ${WORKSPACE}/tools/set_version_snapshot.sh
                   export SNAPSHOT_VERSION=$(${WORKSPACE}/tools/get_version_snapshot.sh)
                   ${WORKSPACE}/tools/publish_policies.sh
                '''
            }
        }
        stage ('Publish Release') {
            when {
                expression { return params.RELEASE ==~ /(?i)(Y|YES|T|TRUE|ON|RUN)/ }
                anyOf {
 		    branch 'release/*'
                }
            }
            steps {
                echo "I in the release section..."

                sh '''
                   echo "Publish release..."       
	           # Tag the current version before you publish
                   git tag -a ${VERSION} -m "Version = ${VERSION}..."
                   git push --tags origin HEAD:"${GIT_BRANCH}"
                   ${WORKSPACE}/tools/publish_release_policies.sh                
                   ${WORKSPACE}/tools/prepare_next_release.sh
                   git add ${WORKSPACE}/build.xml
                   git commit -m "Bumping to version ${DEVELOPMENT_VERSION}..."
                   git push origin HEAD:"${GIT_BRANCH}"
                '''
            }
        }
        stage ('Updating Jira Issue') {
            when {
                expression { return params.RELEASE ==~ /(?i)(Y|YES|T|TRUE|ON|RUN)/ }
                anyOf {
                    branch 'release/*'
                }
            }
            steps {
                echo "Updating Jira release management issue RM-"

                jiraComment body: "${JIRA_STRING}", issueKey: "${JIRA_ISSUE_KEY}"

                echo "Sending email..."

                script {
                      def recipients = emailextrecipients([ [$class: 'DevelopersRecipientProvider'], [$class: 'RequesterRecipientProvider'], ])

                      emailext to: recipients,
                           from: "svc.cicd@banq.qc.ca",
                           recipientProviders: [developers(), requestor()],
                           subject: "New release:  ${VERSION}",
                           body: "${JIRA_STRING}"
                }
            }
        }
    }
    post {
            always {
                 // Take care of the ownership...
                 sh 'chown -R jenkins:jenkins ${WORKSPACE}'
                 sh 'rm -rf .azure .git'
            }
            failure {
                 script {
                      def recipients = emailextrecipients([ [$class: 'DevelopersRecipientProvider'], [$class: 'RequesterRecipientProvider'], ])

                      emailext to: recipients,
                           from: "svc.cicd@banq.qc.ca",
                           recipientProviders: [developers(), requestor()],
                           subject: "Attachement Test...",
                           body: "Test",
                           attachLog: true
                 }
            }
            cleanup {
                 deleteDir()
                 cleanWs()
            }
        }
}
