pipeline {
    agent {
        docker {
            image '{{ dockerImage }}'
            args  '--net=host -u root:root --privileged -v ${HOME}/.azure:/root/.azure'
            label 'BAnQ_Worker01'
        }
    }
    environment {
        XMLLINT_VERSION             = sh script: 'xmllint --version', returnStdout: true
    }

    triggers{
        bitbucketpr(projectPath:'{{ bitbucketUrl }}',
            cron: '* * * * *',
            credentialsId: '{{ bitbucketCredId }}',
            username: '',
            password: '',
            repositoryOwner: '{{ bitbucketRepoOwner }}',
            repositoryName: '{{ bitbucketProject }}',
            branchesFilter: '',
            branchesFilterBySCMIncludes: true,
            ciKey: 'jenkins',
            ciName: 'Jenkins',
            ciSkipPhrases: '',
            checkDestinationCommit: true,
            approveIfSuccess: true,
            cancelOutdatedJobs: false,
            buildChronologically: false,
            commentTrigger: 'test this please')
    }
    stages {
        stage ('Initialize') {
            steps {
                sh 'echo "Print the environment..."'
                // Setup the settings.xml file
                sh 'mkdir -p .azure'

                sh 'printenv'
            }
        }
        stage ('Syntax Checking') {
            steps {
                echo "Syntax checking the application..."
                sh '''
                    xmllint ${WORKSPACE}/banq-gia/PasswordReset.xml --noout
                    xmllint ${WORKSPACE}/banq-gia/ProfileEdit.xml --noout
                    xmllint ${WORKSPACE}/banq-gia/SignUpOrSignin.xml --noout
                    xmllint ${WORKSPACE}/banq-gia/TrustFrameworkBase.xml --noout
                    xmllint ${WORKSPACE}/banq-gia/TrustFrameworkExtensions.xml --noout
                    xmllint ${WORKSPACE}/banq-gia/TrustFrameworkLocalization.xml --noout
                '''
            }
        }
        stage ('Validating') {
            steps {
                echo "Validating the application..."

                sh '''
                    xmllint --schema ${WORKSPACE}/TrustFrameworkPolicy_0.3.0.0.xsd ${WORKSPACE}/banq-gia/PasswordReset.xml --noout
                    xmllint --schema ${WORKSPACE}/TrustFrameworkPolicy_0.3.0.0.xsd ${WORKSPACE}/banq-gia/ProfileEdit.xml --noout
                    xmllint --schema ${WORKSPACE}/TrustFrameworkPolicy_0.3.0.0.xsd ${WORKSPACE}/banq-gia/SignUpOrSignin.xml --noout
                    # xmllint --schema ${WORKSPACE}/TrustFrameworkPolicy_0.3.0.0.xsd ${WORKSPACE}/banq-gia/TrustFrameworkBase.xml --noout
                    xmllint --schema ${WORKSPACE}/TrustFrameworkPolicy_0.3.0.0.xsd ${WORKSPACE}/banq-gia/TrustFrameworkExtensions.xml --noout
                    xmllint --schema ${WORKSPACE}/TrustFrameworkPolicy_0.3.0.0.xsd ${WORKSPACE}/banq-gia/TrustFrameworkLocalization.xml --noout
                '''
            }
        }
    }
    post {
         always {
              // Take care of the ownership...
              sh 'chown -R jenkins:jenkins ${WORKSPACE}'
              sh 'rm -rf .azure .git'
         }
         cleanup {
              deleteDir()
              cleanWs()
         }
    }
}
