FROM redhat/ubi8
LABEL Service Account <svc.cicd@banq.qc.ca>
RUN yum install -y yum-utils curl wget git zip procps git gnupg java-{{ javaVersion }}-openjdk
                                      
# Downloading and installing Maven
# 1- Define a constant with the version of maven you want to install
ARG MAVEN_VERSION={{ mavenVersion }}

# 2- Define a constant with the working directory
ARG USER_HOME_DIR={{ maven_user_dir }}

# 3- Define the SHA key to validate the maven download
ARG SHA=b4880fb7a3d81edd190a029440cdf17f308621af68475a4fe976296e71ff4a4b546dd6d8a58aaafba334d309cc11e638c52808a4b0e818fc0fd544226d952544

# 4- Define the URL where maven can be downloaded from
ARG BASE_URL=https://apache.osuosl.org/maven/maven-3/${MAVEN_VERSION}/binaries

# 5- Create the directories, download maven, validate the download, install it, remove downloaded file and set links
RUN mkdir -p /usr/share/maven /usr/share/maven/ref \
  && echo "Downlaoding maven" \
  && curl -fsSL -o /tmp/apache-maven.tar.gz ${BASE_URL}/apache-maven-${MAVEN_VERSION}-bin.tar.gz \
  \
  && echo "Unziping maven" \
  && tar -xzf /tmp/apache-maven.tar.gz -C /usr/share/maven --strip-components=1 \
  \
  && echo "Cleaning and setting links" \
  && rm -f /tmp/apache-maven.tar.gz \
  && ln -s /usr/share/maven/bin/mvn /usr/bin/mvn

# 6- Create the jenkins group and user...
RUN groupadd -g {{ maven_jenkins_gid }} jenkins \
  && useradd -d /var/lib/jenkins -u {{ maven_jenkins_uid }} -g jenkins jenkins \
  && echo "welcome" | passwd --stdin jenkins 2>/dev/null

# 7- Define environmental variables required by Maven, like Maven_Home directory and where the maven repo is located
ENV MAVEN_HOME /usr/share/maven
ENV MAVEN_CONFIG "$USER_HOME_DIR/.m2"


# Downloading and installing NodeJS
# 8- Define a constant with the version of NodeJS you want to install
ARG NODEJS_VERSION={{ nodeVersion }}

# 9- Define the distribution
ARG NODEJS_DISTRO={{ nodejs_distro }}

# 10- Define a constant with the working directory
ARG USER_HOME_DIR={{ nodejs_user_dir }}

# 11- Define the URL where node can be downloaded from
ARG BASE_URL_NODE=https://nodejs.org/dist/${NODEJS_VERSION}

# 12- Create the directories, download nodejs, validate the download, install it, remove downloaded file and set links
RUN mkdir -p /usr/local/lib/nodejs \
  && echo "Downlaoding nodejs" \
  && curl -fsSL -o /tmp/nodejs.tar.gz ${BASE_URL_NODE}/node-${NODEJS_VERSION}-${NODEJS_DISTRO}.tar.gz \
  \
  && echo "Unziping nodejs" \
  && tar -xzf /tmp/nodejs.tar.gz -C /usr/local/lib/nodejs \ 
  \
  && echo "Cleaning and setting PATH" \
  && rm -f /tmp/nodejs.tar.gz \
  && ln -sf /usr/local/lib/nodejs/node-${NODEJS_VERSION}-${NODEJS_DISTRO}/bin/node /usr/bin/node \
  && ln -sf /usr/local/lib/nodejs/node-${NODEJS_VERSION}-${NODEJS_DISTRO}/bin/npm /usr/bin/npm \
  && ln -sf /usr/local/lib/nodejs/node-${NODEJS_VERSION}-${NODEJS_DISTRO}/bin/npx /usr/bin/npx

# 13- Install angular
RUN echo "Installing Angular..." \
  && npm install -g @angular/cli

# 14- Enable the jenkins home directory...
RUN chown -R jenkins:jenkins /var/lib/jenkins \
  && chmod 777 /var/lib/jenkins

# 15- chmod /tmp
RUN chmod 777 /tmp

# Add the cacerts file
ADD cacerts /etc/pki/ca-trust/extracted/java/cacerts

# Add the rootCA-nexus.crt file
ADD rootCA-nexus.crt /usr/share/pki/ca-trust-source/anchors/rootCA-nexus.crt

# update the ca trust store
RUN update-ca-trust

# 16- Define environmental variables required by NodeJS, like NodeJS_Home directory and where the NodeJS repo is located
ENV NODEJS_HOME /usr/local/lib/nodejs

# 17- Set the path for angular..
ENV PATH="$PATH:/usr/local/lib/nodejs/node-${NODEJS_VERSION}-${NODEJS_DISTRO}/bin/ng"

# Downloading and installing gradle
# 18 Define the gradle versio
ARG GRADLE_VERSION={{ gradleVersion }}

# 19- Define a constant with the working directory
ARG USER_HOME_DIR={{ gradle_user_dir }}

# 20- Define the URL where gradle can be downloaded from
ARG BASE_URL_GRADLE=https://services.gradle.org/distributions/

# 12- Create the directories, download nodejs, validate the download, install it, remove downloaded file and set links
RUN mkdir -p /opt/gradle \
  && echo "Downlaoding gradle" \
  && curl -fsSL -o /tmp/gradle.zip ${BASE_URL_GRADLE}/gradle-${GRADLE_VERSION}-bin.zip \ 
  \
  && echo "Unziping gradle" \
  && unzip -d /opt/gradle /tmp/gradle.zip \
  \
  && echo "Cleaning and setting PATH" \
  && rm -f /tmp/gradle.zip

# 18- Set the GRADLE_HOME directory
ENV GRADLE_HOME=/opt/gradle/gradle-${GRADLE_VERSION} 

# 19- Update the PATH
ENV PATH=${GRADLE_HOME}/bin:${PATH}
