FROM openjdk:8-jdk-alpine
LABEL Service Account <svc.cicd@banq.qc.ca>
RUN apk add --no-cache curl tar bash procps git

# Downloading and installing Ant
# 1- Define a constant with the version of Ant you want to install
ARG ANT_VERSION={{ version }}        

# 2- Define a constant with the working directory
ARG USER_HOME_DIR={{ ant_user_dir }}

# 3- Create the directories, download nodejs, validate the download, install it, remove downloaded file and set links
RUN mkdir -p /usr/local/packages/ant \
  && echo "Downlaoding Apache Ant" \
  && curl -fsSL -o /tmp/ant.tar.gz https://dlcdn.apache.org//ant/binaries/apache-ant-1.10.14-bin.tar.gz \ 
  \
  && echo "Unziping Ant" \
  && tar -xzf /tmp/ant.tar.gz -C /usr/local/packages/ant \
  \
  && echo "Cleaning and setting PATH" \
  && rm -f /tmp/ant.tar.gz \
  && ln -sf /usr/local/packages/ant/apache-ant-1.10.14/bin/ant /usr/bin/ant 

# 4- Create the jenkins group and user...
RUN addgroup -g {{ ant_jenkins_gid }} jenkins \ 
&& adduser -h /var/lib/jenkins -u {{ ant_jenkins_uid }} -D -G jenkins jenkins

# 5- Define environmental variables required by Ant, like ANT_HOME directory and where the ANT repo is located
ENV ANT_HOME /usr/local/packages/ant/apache-ant-1.10.14

ENV ANT_OPTS -Dfile.encoding=iso-8859-1

# CMD [""]
