# FROM openjdk:8-jdk-alpine
# FROM azul/zulu-openjdk-alpine:11.0.13-11.52.13-x86
FROM azul/zulu-openjdk-alpine:8
LABEL Service Account <svc.cicd@banq.qc.ca>
RUN apk add --no-cache curl tar bash procps git gnupg

# Downloading and installing Maven
# 1- Define a constant with the version of maven you want to install
ARG MAVEN_VERSION={{ version }}         

# 2- Define a constant with the working directory
ARG USER_HOME_DIR={{ maven_user_dir }}

# 3- Define the SHA key to validate the maven download
ARG SHA=b4880fb7a3d81edd190a029440cdf17f308621af68475a4fe976296e71ff4a4b546dd6d8a58aaafba334d309cc11e638c52808a4b0e818fc0fd544226d952544

# 4- Define the URL where maven can be downloaded from
ARG BASE_URL=https://apache.osuosl.org/maven/maven-3/${MAVEN_VERSION}/binaries

# 5- Create the directories, download maven, validate the download, install it, remove downloaded file and set links
RUN mkdir -p /usr/share/maven /usr/share/maven/ref \
  && echo "Downlaoding maven" \
  && curl -fsSL -o /tmp/apache-maven.tar.gz ${BASE_URL}/apache-maven-${MAVEN_VERSION}-bin.tar.gz \
  \
  && echo "Unziping maven" \
  && tar -xzf /tmp/apache-maven.tar.gz -C /usr/share/maven --strip-components=1 \
  \
  && echo "Cleaning and setting links" \
  && rm -f /tmp/apache-maven.tar.gz \
  && ln -s /usr/share/maven/bin/mvn /usr/bin/mvn

# 6- Create the jenkins group and user...
RUN addgroup -g {{ maven_jenkins_gid }} jenkins \
&& adduser -h /var/lib/jenkins -u {{ maven_jenkins_uid }} -D -G jenkins jenkins

# 7- Define environmental variables required by Maven, like Maven_Home directory and where the maven repo is located
ENV MAVEN_HOME /usr/share/maven
ENV MAVEN_CONFIG "$USER_HOME_DIR/.m2"


# CMD [""]
