FROM mhart/alpine-node:latest
LABEL Service Account <svc.cicd@banq.qc.ca>
RUN apk add --no-cache curl tar bash procps git libxml2-utils

# Downloading and installing NodeJS
# 1- Define a constant with the version of NodeJS you want to install
ARG NODEJS_VERSION={{ version }}        

# 2- Define the distribution
ARG NODEJS_DISTRO={{ nodejs_distro }}

# 3- Define a constant with the working directory
ARG USER_HOME_DIR={{ nodejs_user_dir }}

# 4- Define the URL where node can be downloaded from
ARG BASE_URL=https://nodejs.org/dist/${NODEJS_VERSION}

# 5- Create the directories, download nodejs, validate the download, install it, remove downloaded file and set links
#RUN mkdir -p /usr/local/lib/nodejs \
#  && echo "Downlaoding nodejs" \
#  && curl -fsSL -o /tmp/nodejs.tar.gz ${BASE_URL}/node-${NODEJS_VERSION}-${NODEJS_DISTRO}.tar.gz \ 
#  \
#  && echo "Unziping nodejs" \
#  && tar -xzf /tmp/nodejs.tar.gz -C /usr/local/lib/nodejs \
#  \
#  && echo "Cleaning and setting PATH" \
#  && rm -f /tmp/nodejs.tar.gz \
#  && ln -sf /usr/local/lib/nodejs/node-${NODEJS_VERSION}-${NODEJS_DISTRO}/bin/node /usr/bin/node \
#  && ln -sf /usr/local/lib/nodejs/node-${NODEJS_VERSION}-${NODEJS_DISTRO}/bin/npm /usr/bin/npm \
#  && ln -sf /usr/local/lib/nodejs/node-${NODEJS_VERSION}-${NODEJS_DISTRO}/bin/npx /usr/bin/npx

# 5- Add the ieftool for deployment to azure ad b2c
RUN npm install -g ieftool

# 6- Create the jenkins group and user...
RUN addgroup -g {{ nodejs_jenkins_gid }} jenkins \ 
&& adduser -h /var/lib/jenkins -u {{ nodejs_jenkins_uid }} -D -G jenkins jenkins

# 7- Define environmental variables required by NodeJS, like NodeJS_Home directory and where the NodeJS repo is located
ENV NODEJS_HOME /usr/local/lib/nodejs


# CMD [""]
