FROM redhat/ubi8
LABEL Service Account <svc.cicd@banq.qc.ca>
RUN yum install -y yum-utils curl wget tar git python2 bzip2 make gcc gcc-c++

# Downloading and installing NodeJS
# 1- Define a constant with the version of NodeJS you want to install
ARG NODEJS_VERSION={{ version }}        

# 2- Define the distribution
ARG NODEJS_DISTRO={{ nodejs_distro }}

# 3- Define a constant with the working directory
ARG USER_HOME_DIR={{ nodejs_user_dir }}

# 4- Define the URL where node can be downloaded from
ARG BASE_URL=https://nodejs.org/dist/${NODEJS_VERSION}

# 5- Create the directories, download nodejs, validate the download, install it, remove downloaded file and set links
RUN mkdir -p /usr/local/lib/nodejs \
  && echo "Downlaoding nodejs" \
  && curl -fsSL -o /tmp/nodejs.tar.gz ${BASE_URL}/node-${NODEJS_VERSION}-${NODEJS_DISTRO}.tar.gz \ 
  \
  && echo "Unziping nodejs" \
  && tar -xzf /tmp/nodejs.tar.gz -C /usr/local/lib/nodejs \
  \
  && echo "Cleaning and setting PATH" \
  && rm -f /tmp/nodejs.tar.gz \
  && ln -sf /usr/local/lib/nodejs/node-${NODEJS_VERSION}-${NODEJS_DISTRO}/bin/node /usr/bin/node \
  && ln -sf /usr/local/lib/nodejs/node-${NODEJS_VERSION}-${NODEJS_DISTRO}/bin/npm /usr/bin/npm \
  && ln -sf /usr/local/lib/nodejs/node-${NODEJS_VERSION}-${NODEJS_DISTRO}/bin/npx /usr/bin/npx 

# 6- Add the global nodejs modules
RUN echo "Installing the global modules: bower, eslint and gulp..." \
  && npm install -g bower \
  && npm install -g eslint \
  && npm install -g gulp

# 7 - Install angular
RUN echo "Installing Angular..." \
  && npm install -g @angular/cli

# 8 - Setting the soft links for the modules..
RUN echo "Creating the soft links for the nodejs global modules..." \
  && ln -sf /usr/local/lib/nodejs/node-{{ version }}-linux-x64/lib/node_modules/bower/bin/bower /usr/local/bin/bower \
  && ln -sf /usr/local/lib/nodejs/node-{{ version }}-linux-x64/lib/node_modules/eslint/bin/eslint.js /usr/local/bin/eslint \
  && ln -sf /usr/local/lib/nodejs/node-{{ version }}-linux-x64/lib/node_modules/gulp/bin/gulp.js /usr/local/bin/gulp

# 9 - Create the jenkins group and user...
RUN groupadd -g {{ nodejs_jenkins_gid }} jenkins \
  && useradd -d /var/lib/jenkins -u {{ nodejs_jenkins_gid }} -g jenkins jenkins \
  && echo "welcome" | passwd --stdin jenkins 2>/dev/null

# 10 - Enable the jenkins home directory...
RUN chown -R jenkins:jenkins /var/lib/jenkins \
  && chmod 777 /var/lib/jenkins

# 11 - chmod /tmp
RUN chmod 777 /tmp

# 12 - Define environmental variables required by NodeJS, like NodeJS_Home directory and where the NodeJS repo is located
ENV NODEJS_HOME /usr/local/lib/nodejsi

# 13 - Set the path for angular..
ENV PATH="$PATH:/usr/local/lib/nodejs/node-v18.10.0-linux-x64/bin/ng"


# CMD [""]
