pipeline {
    agent {
        docker {
            image '{{ dockerImage }}'
            args  '--net=host -u root:root --privileged -v ${HOME}/.npm:/root/.npm'
            label 'BAnQ_Worker01'
        }
    }

    triggers{
        bitbucketpr(projectPath:'{{ bitbucketUrl }}',
            cron: '* * * * *',
            credentialsId: '{{ bitbucketCredId }}',
            username: '',
            password: '',
            repositoryOwner: '{{ bitbucketRepoOwner }}',
            repositoryName: '{{ bitbucketProject }}',
            branchesFilter: '',
            branchesFilterBySCMIncludes: true,
            ciKey: 'jenkins',
            ciName: 'Jenkins',
            ciSkipPhrases: '',
            checkDestinationCommit: true,
            approveIfSuccess: true,
            cancelOutdatedJobs: false,
            buildChronologically: false,
            commentTrigger: 'test this please')
    }
    stages {
        stage ('Initialize') {
            steps {
                sh 'echo "Print the environment..."'
                // Setup the settings.xml file
                sh 'mkdir -p .npm'
                sh 'printenv'
            }
        }
        stage ('Build') {
            steps {
                echo "Building the application..."
                sh 'npm install'
                sh 'npm run build'
            }
        }
        stage ('Test') {
            steps {
                echo "Testing the application..."
                sh 'npm run test'

            }
        }
    }
    post {
         always {
              // Take care of the ownership...
              sh 'chown -R jenkins:jenkins ${WORKSPACE}'
              sh 'rm -rf .gradle .git'
         }
         cleanup {
              deleteDir()
              cleanWs()
         }
    }
}
