pipeline {
    agent {
        docker {
            image '{{ dockerImage }}'
            args  '--net=host -u root:root --privileged -v ${HOME}/.npm:/root/.npm'
        }
    }
    //tools {
    //    maven 'Maven 3.3.9'
    //    jdk 'jdk8'
    //}
    environment {
        BITBUCKET_CREDS         = credentials('{{ bitbucketCredId }}')
        BITBUCKET_USER          = "$BITBUCKET_CREDS_USR"
        BITBUCKET_PASS          = "$BITBUCKET_CREDS_PSW"

        //VERSION               = sh script: 'node -pe "require(\'./package.json\').version"', returnStdout: true
        VERSION                 = sh script: "./tools/get_version.sh", returnStdout: true
        DEVELOPMENT_VERSION     = sh script: "./tools/get_next_version.sh '${VERSION}'", returnStdout: true
        DATE                    = sh script: 't=$(date) && echo -n ${t}', returnStdout: true

        BITBUCKET_URL           = "{{ bitbucketModUrl }}"

        APP_NAME                = sh script: 't=$(basename "{{ bitbucketModUrl }}") && echo -n ${t%.*}', returnStdout: true
        
        CURRENT_BRANCH          = "${GIT_BRANCH}"
        DOCKER_REGISTRY_ADDRESS = "{{ dockerRegistry }}"
        NEXUS_REGISTRY_ADDRESS  = "{{ nexusRegistry }}"
        JIRA_ISSUE_KEY          = "{{ jiraIssueKey }}"

        JIRA_STRING             = {{ jiraString }}
    }

    parameters {
        booleanParam(name: 'RELEASE', defaultValue: false, description: 'Toggle this button to enable release to Nexus...')
        booleanParam(name: 'DOCKER_IMAGE', defaultValue: false, description: 'Build a docker image with this release...')
    }

    stages {
        stage ('Initialize') {
            steps {
                sh '''
                    git config --global --add safe.directory ${WORKSPACE}
                    git remote set-url origin ${BITBUCKET_URL}
                    git config --global user.name ${BITBUCKET_USER}
                    git config --global user.email "{{ gitConfigEmail }}"

                '''

                sh '''
		    echo "============================================================"
                    echo "Project Info file"
		    echo "============================================================"
                    echo "PATH       = ${PATH}"
                    echo "HOME       = ${HOME}"
                    echo "WORKSPACE  = ${WORKSPACE}"
                    echo "============================================================"
                '''

                sh 'mkdir -p .npm'
                sh 'cp ${WORKSPACE}/.npmrc.registry.BAnQ ${WORKSPACE}/.npmrc'
                sh 'printenv'

            }
        }
        stage ('Build') {
            steps {
                echo "Building the application..."
                
                sh 'npm install'
                sh 'npm run build'
            }
        }
        stage ('Testing') {
            steps {
                echo "Testing the application..."
                sh 'npm run test'
            }
        }
        stage ('Publish') {
            when { 
                expression { return params.RELEASE ==~ /(?i)(N|NO|F|FALSE|OFF)/ }
                anyOf {
		    branch 'develop';
                    branch 'master';
                    branch 'test/*';
 	 	    branch 'release/*'
                }
            }
            steps {
                echo "I'm in publish" 
               
                sh '''
                    cd ${WORKSPACE}
                       # You need to set the version to a snapshot..
                       cp ${WORKSPACE}/.npmrc.snapshots.BAnQ ${WORKSPACE}/.npmrc
                       ${WORKSPACE}/tools/set_package_json.sh
                       npm publish
                    cd ..
                '''
            }
        }
        stage ('Publish Release') {
            when {
                expression { return params.RELEASE ==~ /(?i)(Y|YES|T|TRUE|ON|RUN)/ }
                anyOf {
 		    branch 'release/*'
                }
            }
            steps {
                echo "I in the release section..."
                
                sh '''
                    cd ${WORKSPACE}
                       # You need to set the version to a release..
                       cp ${WORKSPACE}/.npmrc.releases.BAnQ ${WORKSPACE}/.npmrc
                       # Set the tags...
                       git tag -a ${VERSION} -m "Version = ${VERSION}..."
                       git push --tags origin HEAD:"${GIT_BRANCH}"
                       npm publish
                       ${WORKSPACE}/tools/prepare_next_release.sh
                       git add ${WORKSPACE}/package.json
                       git commit -m "Bumping to version ${DEVELOPMENT_VERSION}..."
                       git push origin HEAD:"${GIT_BRANCH}"
                    cd ..
                '''
            }
        }
        stage ('Build Docker Image') {
            when {
                expression { return params.RELEASE ==~ /(?i)(Y|YES|T|TRUE|ON|RUN)/ &&
                                    params.DOCKER_IMAGE ==~ /(?i)(Y|YES|T|TRUE|ON|RUN)/ }
                anyOf {
                    branch 'release/*'
                }
            }
            steps {
                script {
                    echo "Build a docker image for the ${APP_NAME} version..."
                    if ( params.DOCKER_IMAGE == true ) {
                        build job: "Docker/build-application-docker-image",
                              wait: true,
                              parameters: [string(name: 'target', value: "${DOCKER_REGISTRY_ADDRESS}"),
                                           string(name: 'RegistryHost', value: "${DOCKER_REGISTRY_ADDRESS}"),
                                           string(name: 'Version', value: "${VERSION}"),
                                           string(name: 'BitbucketProject', value: "${APP_NAME}")]
                    }
                }
            }
        }
        stage ('Updating Jira Issue') {
            when {
                expression { return params.RELEASE ==~ /(?i)(Y|YES|T|TRUE|ON|RUN)/ &&
                                    params.DOCKER_IMAGE ==~ /(?i)(Y|YES|T|TRUE|ON|RUN)/ }
                anyOf {
                    branch 'release/*'
                }
            }
            steps {
                echo "Updating Jira release management issue RM-"

                jiraComment body: "${JIRA_STRING}", issueKey: "${JIRA_ISSUE_KEY}"

                echo "Sending email..."

                script {
                      def recipients = emailextrecipients([ [$class: 'DevelopersRecipientProvider'], [$class: 'RequesterRecipientProvider'], ])

                      emailext to: recipients,
                           from: "svc.cicd@banq.qc.ca",
                           recipientProviders: [developers(), requestor()],
                           subject: "New release:  ${VERSION}",
                           body: "${JIRA_STRING}"
                }
            }
        }
    }
    post {
            always {
                 // Take care of the ownership...
                 echo "I'm in always..."

                 sh 'chown -R jenkins:jenkins ${WORKSPACE}'
                 sh 'rm -rf .npm .git'
            }
            failure {
                 script {
                      def recipients = emailextrecipients([ [$class: 'DevelopersRecipientProvider'], [$class: 'RequesterRecipientProvider'], ])

                      emailext to: recipients,
                           from: "svc.cicd@banq.qc.ca",
                           recipientProviders: [developers(), requestor()],
                           subject: "Attachement Test...",
                           body: "Test",
                           attachLog: true
                 }
            }
            cleanup {
                 deleteDir()
                 cleanWs()
            }
        }
}
