﻿<?xml version="1.0" encoding="utf-8" ?>
<TrustFrameworkPolicy 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  xmlns="http://schemas.microsoft.com/online/cpim/schemas/2013/06" 
  PolicySchemaVersion="0.3.0.0" 
  TenantId="{{ tenant }}.onmicrosoft.com" 
  PolicyId="B2C_1A_TrustFrameworkExtensions_{{ appName }}" 
  PublicPolicyUri="http://{{ tenant }}.onmicrosoft.com/B2C_1A_TrustFrameworkExtensions_{{ appName }}">
  
  <BasePolicy>
    <TenantId>{{ tenant }}.onmicrosoft.com</TenantId>
    <PolicyId>B2C_1A_TrustFrameworkLocalization_{{ appName }}</PolicyId>
  </BasePolicy>
  <BuildingBlocks>

  </BuildingBlocks>

  <ClaimsProviders>


    <ClaimsProvider>
      <DisplayName>Local Account SignIn</DisplayName>
      <TechnicalProfiles>
         <TechnicalProfile Id="login-NonInteractive">
          <Metadata>
            <Item Key="client_id">proxyIdentityExperienceFrameworkClientId</Item>
            <Item Key="IdTokenAudience">identityExperienceFrameworkClientId</Item>
          </Metadata>
          <InputClaims>
            <InputClaim ClaimTypeReferenceId="client_id" DefaultValue="proxyIdentityExperienceFrameworkClientId" />
            <InputClaim ClaimTypeReferenceId="resource_id" PartnerClaimType="resource" DefaultValue="identityExperienceFrameworkClientId" />
          </InputClaims>
        </TechnicalProfile>
      </TechnicalProfiles>
    </ClaimsProvider>

  </ClaimsProviders>

    <!--UserJourneys>
	
	</UserJourneys-->

</TrustFrameworkPolicy>
