#!/bin/bash

set -x

LOCAL_BRANCH='{{ localTemplateBranch }}'
REMOTE_BRANCH='{{ remoteTemplateBranch }}'

# Check if the local branch exists...

exists_in_local=$(git branch --list ${LOCAL_BRANCH})

if [ -z "$exists_in_local" ]; then
    echo "The local branch ${LOCAL_BRANCH} does not exist..."
else
    echo "Delete the local branch ${LOCAL_BRANCH}..."
    git branch -d ${LOCAL_BRANCH}
fi

echo "Creating a fresh local branch ${LOCAL_BRANCH}"
git checkout -b ${LOCAL_BRANCH}

# Get all of the tags..
echo "Fetching the tags..."
git fetch --tags

# Check if the remote template branch exists.

exists_in_remote=$(git ls-remote --heads origin ${REMOTE_BRANCH})

if [ -z "$exists_in_remote" ]; then
    echo "The remote branch ${REMOTE_BRANCH} does not exist..."
else
    echo "Delete the remote branch ${REMOTE_BRANCH}..."
    git push origin --delete ${REMOTE_BRANCH}
fi

####################################################################
# Set the git permissions
####################################################################
items=$(ls /tmp/git/{{ bitbucketProject }}/tools)

for item in $items; do
    echo "item   ======= ${item}"
    git update-index --chmod=+x "/tmp/git/{{ bitbucketProject }}/tools/${item}"
done

####################################################################
# push the remote branch to the repo...
####################################################################
# Add all files...
git add -A

# Commit with a standard message...
git commit -m "Creating origin ${REMOTE_BRANCH} branch on bitbucket..."

# Push the remote branch ${REMOTE_BRANCH} to the remote repo (bitbucket)
git push --force --set-upstream origin ${REMOTE_BRANCH}


